In [1]:
#Q1

In [2]:
# A database is a structured collection of data that is organized and stored in a way that allows for efficient retrieval, management, and manipulation of information.
# SQL (Structured Query Language) Databases:
# SQL databases are based on a relational model and use structured query language (SQL) for defining and manipulating the data.
# NoSQL (Not Only SQL) Databases:
# NoSQL databases depart from the traditional relational model and offer more flexible data models

In [3]:
#Q2

In [4]:
# DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) that is used to define and manage the structure of a database and its objects. 
# DDL statements are responsible for creating, altering, and dropping database objects such as tables, indexes, views, and schemas.

# CREATE:
# The CREATE statement is used to create new database objects

# DROP:
# The DROP statement is used to remove or delete existing database objects.

# ALTER:
# The ALTER statement is used to modify the structure of an existing database object.

In [5]:
#Q3

In [6]:
# DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) that is used to manipulate and modify the data stored in a database.

# INSERT:
# The INSERT statement is used to add new records or rows into a table.

# UPDATE:
# The UPDATE statement is used to modify existing records in a table.

# DELETE:
# The DELETE statement is used to remove records from a table based on specified conditions.

In [7]:
#Q4

In [8]:
# DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) that is used to retrieve and query data from a database

# SELECT: This part of the statement specifies the columns you want to retrieve from the table.
# FROM: This part of the statement indicates the table from which the data should be retrieved.
# WHERE: This optional part of the statement is used to filter the results based on certain conditions
# ORDER BY: This optional part of the statement is used to sort the results based on a specified column.

In [9]:
#Q5

In [10]:
# Primary Key:
# A primary key is a column or a combination of columns in a database table that uniquely identifies each row or record. 
# It ensures that every record in the table is unique and provides a way to access and reference individual records.

# Foreign Key:
# A foreign key is a column or a set of columns in a database table that refers to the primary key of another table. 
# It establishes a relationship between two tables by enforcing referential integrity, 
# which ensures that the values in the foreign key column(s) match values in the primary key column(s) of the referenced table.

In [11]:
#Q6

In [12]:
# import mysql.connector

# connection = mysql.connector.connect(
#     host="localhost",
#     user="your_username",
#     password="your_password",
#     database="your_database"
# )

# cursor = connection.cursor()

# query = "SELECT * FROM Customers"
# cursor.execute(query)

# results = cursor.fetchall()

# for row in results:
#     print(row)

# cursor.close()
# connection.close()

In [13]:
#Q7

In [ ]:
# In a standard SQL query, the order of execution of the SQL clauses is as follows:

# SELECT: The SELECT clause is used to specify the columns or expressions to be included in the result set. It is one of the first clauses evaluated in a query.

# FROM: The FROM clause is used to specify the table(s) from which the data is retrieved. It determines the source tables for the query.

# WHERE: The WHERE clause is used to filter the rows returned by the query based on specified conditions. It is applied after the FROM clause and narrows down the result set.

# GROUP BY: The GROUP BY clause is used to group the rows in the result set based on one or more columns. It is typically used in conjunction with aggregate functions like SUM, COUNT, AVG, etc.

# HAVING: The HAVING clause is used to filter the grouped rows based on specified conditions. It is applied after the GROUP BY clause and further narrows down the result set.

# ORDER BY: The ORDER BY clause is used to sort the rows in the result set based on one or more columns. It is applied after the previous clauses and determines the order in which the rows are presented.