In [1]:
#Q1

In [2]:
#for loop example
list = [1,2,3,4,5]
for i in list:
    print(i)

1
2
3
4
5

In [5]:
#while loop example
i = 0
count = 0
while i < 11:
    count = count + i
    i = i + 1
print(count)

55

In [7]:
#Q2 sum and product of first 10 natural numbers

In [9]:
#sum using loops
n = 11
count = 0
for i in range(0,n,1):
    count = count + i
print(count)

55

In [10]:
i = 0
count = 0
while i <= 10:
    count = count + i
    i = i + 1
print(count)

55

In [15]:
#product using loops
n = 11
count = 1
for i in range(1,n,1):
    count = count * i
print(count)

3628800

In [16]:
i = 1
count = 1
while i <= 10:
    count = count * i
    i = i + 1
print(count)

3628800

In [17]:
#Q3

In [22]:
units = int(input("Enter the units consumed in a month: "))

if units <= 100:
    charges = units * 4.5
elif units <= 200:
    charges = 100 * 4.5 + (units - 100) * 6
elif units <= 300:
    charges = 100 * 4.5 + 100 * 6 + (units - 200) * 10
else:
    charges = 100 * 4.5 + 100 * 6 + 100 * 10 + (units - 300) * 20

print("The total charges for", units, "units consumed are Rs.", charges)

Enter the unitsconsumed in a month:  310

The total charges for 310 units consumed are Rs. 2250.0

In [23]:
# Q4

In [5]:
#using for loop
l1 = []
for i in range(1,101):
    cube = i ** 3
    if cube % 4 == 0 or cube % 5 == 0:
        l1.append(i)
print(l1)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [6]:
#using while loop
l2 = []
x = 1
while x < 101:
    cube = x ** 3
    if cube % 4 == 0 or cube % 5 == 0:
        l2.append(x)
    x = x + 1
print(l2)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [7]:
#Q5

In [9]:
string = 'I want to become a data scientist'

In [13]:
vowels = 'aeiou'
count = 0
for i in string:
    if i.lower() in vowels:
        count = count + 1
        
print('Vowels: ',count)

Vowels:  12